* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box  ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-tv {
    border: 2px solid black;
    border-radius: 10px;
    height: 550px;
    width:550px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(87, 0, 169);
}

.screen {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin-top: 1.5rem;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.grid-box {    
    box-sizing: border-box;
    background-color: blueviolet;
    border: 2px solid black;
    display: grid;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



